/* shared style */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.primary-title,
.of-our,
.features {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

.primary-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.primary-btn {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}
/* shared style end*/
/* header section styles start */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 600px;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;

  color: #424242;
}

/* banner style */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-info {
  text-align: center;
  max-width: 800px;
  margin: 100px 0 50px 0;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-info .primary-description {
  margin: 30px 0;
}
.banner-img img {
  width: 100%;
}
/* header section styles end */
/* teams section styles start */
.teams-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 85px 0 130px 0;
  gap: 70px;
}
.teams-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.quick-list {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 600;
}
.of-our {
  color: #131313;
}
.features {
  color: #ff900e;
}
.teams-section .primary-description {
  margin: 24px 0 32px 0;
}

/* teams section styles end */

/* feature section styles start */

.features-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 130px;
}
.features-section .primary-title {
  border-left: 5px solid #ff900e;
  padding: 20px;
  margin-bottom: 24px;
}
.features-section .card {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin: 20px 0;
  padding: 30px;
}
.features-section .card-title {
  margin-bottom: 10px;
}
.features-section .features-img {
  border-radius: 8px;
}
.features-section button {
  padding: 45px 42px;
  background-color: #ff900e;
  border: none;
  border-radius: 8px;
  position: relative;
  bottom: 100px;
  right: 70px;
}
.features-section button > h3 {
  color: #fff;
  font-size: 4rem;
  margin: 0;
  font-weight: 700;
}
.features-section button > p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
/* feature section styles end */
/* facts section style start */
.facts-section {
  margin: 130px 0 180px 0;
}
.facts-section .primary-title{
    margin-bottom: 24px;
}
.facts-container {
  display: flex;
  justify-content: space-evenly;
  gap: 124px;
  margin-top: 100px;
}
.facts-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 45px 40px;
  text-align: center;

}
.facts-stats{
    margin: 10px 0;
}

/* facts section style end */


/* sponsors section style start */
.sponsors-section .primary-description{
  margin-top: 24px;
}
.sponsors-info{
  text-align: center;
  row-gap: 30px;
}

.sponsors-container{
  display: flex;
  justify-content: space-around;
  margin: 50px 0 130px 0;
  align-items: center;
  gap: 20px;
  
}
/* sponsors section style end */
/* footer section style start*/
footer{
 padding: 40px;
  background-color: #fff4e7;
  margin-bottom: 130px;
}
footer p{
  text-align: center;
  color: #424242;
  font-size: 20px;

}
/* footer section style end*/


/* responsive style media query */
/* mobile device */
@media screen and (max-width: 576px) {
  header {
    padding: 30px;
  }
  nav,
  .teams-section,
  .features-section,
  .facts-container,
  .sponsors-container{
    flex-direction: column;
  }
  nav ul {
    margin-top: 30px;
  }
  .banner-info {
    margin: 40px 0 40px 0;
  }
  .teams-image {
    grid-template-columns: 1fr;
  }
  .teams-info,
  .sponsors-section {
    padding: 15px;
  }
  .features-section img {
    width: calc(100vw - 20px);
    margin: 0 10px;
  }
  .features-section button {
    position: static;
    margin-left: 20px;
  }
  .facts-section{
    margin: 0 10px;
  }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header,
  .teams-info,
  .features-section,
  .facts-section {
    padding: 30px;
  }
  .teams-section,
  .features-section,
  .facts-container,
  .sponsors-container {
    flex-direction: column;
    right: 0;
  }
  .features-section img {
    width: calc(100vw - 20px);
    margin: 0 10px;
  }
  .features-section button {
    position: static;
    margin-left: 20px;
  }
 {
    padding: 20px;
  }
}
